h1{
    color:#0f416b;
    text-align: left;
    padding-top:1px;
    font-size:50px;
    margin-left:50px;
  }
  p{
  font-size:20px;
  font-family:Verdana;
  margin-left:50px;
  text-align:justify;
  margin-right: 60px;
  display:in-line;
  
  }
  body{
    background-color:#d1d1e0;
  }
  body{
    background-image: url(https://cdn.glitch.com/bf6607a2-f647-4069-9bb5-600dc99b5fa3%2Fsky.jpg?v=1631006324451);
     background-repeat: no-repeat;
    background-size: cover;
  }
  input{
    margin:10px;
    margin-left:50px;
    background-color:#000000;
    color:aliceblue;
  }
  table th, td{
  border: 2px solid black; 
  text-align:center;
  margin-left:50px
  }
  div{
    font-size:20px;
  font-family:Verdana;
  margin-left:50px;
  text-align:justify;
  margin-right: 60px;
  display:in-line;
  }
  button {
    text-align:center;
    background-color:#000000;
    color:aliceblue;
    margin-left:50px;
    margin-bottom:10;
  }
  img{
    margin-left:50px;
    margin-bottom:10;
  }