h1{
    <color:#ff5050;
    text-align:center;
    padding-top:1px;
    font-size:50px;
  }
  h2{
   color:#FF0033;
    padding-top:5;
    margin-left:20px;
    font-size:40px;
  }
  p{
  font-size:20px;
  font-family:Verdana;
  margin-left:50px;
  text-align:justify;
  margin-right: 60px;
  display:in-line;
  
  }
  h3{
    padding-top:;
    font-size:25px;
  font-family:Verdana;
  margin-left:20px;
  text-align:justify;
  }
  h4{
      padding-top:;
    font-size:25px;
  font-family:Verdana;
  margin-left:20px;
  text-align:center;
  }
  h5{
    font-size:40px;
    text-align:center
    
  }
  }
  ol{
  font-size:18px;
  margin-left:20px;
  }
  body{
    background-color:#d1d1e0;
  }
  body{
    background-image: url(https://cdn.glitch.com/bf6607a2-f647-4069-9bb5-600dc99b5fa3%2Fsky.jpg?v=1631006324451);
     background-repeat: no-repeat;
    background-size: cover;
  }
  img{
   
    margin:15px 5px;
  
  }
  table{
     width: 100%;
    margin:10px;
  }
  table th, td{
  border: 2px solid black; 
  text-align:center;
  img-align:center;
  }
  th{
  }